name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master # or main, depending on your default branch name

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18' # or your preferred Node.js version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build -- --configuration production --base-href="https://haon1919.github.io/EstheticsByElizabeth/"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: src/frontend/dist/app # Update path to reflect the correct build output directory
          branch: gh-pages
          token: ${{ secrets.GITHUB_TOKEN }} 